@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color:#9dda92ad; 
    --secondary-color:#0c424e;
    /* --primary-color:#000106;
    --secondary-color:#1a649f; */
    
}

.dark-theme{
    --primary-color:#000106;
    --secondary-color:#1a649f;
    --pcolor:aliceblue;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--primary-color);
}

.calculator{
    border:1px solid #717377;
    padding:20px;
    border-radius:16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119,0.5);

}

input{
    width:320px;
    border:none;
    padding:20px;
    margin:10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color:var(--secondary-color);
}

input::placeholder{
    color:var(--secondary-color);
}

button{
    border:none;
    width: 60px;
    height:60px;
    margin: 10px;
    border-radius: 50px;
    background: transparent;
    color:var(--secondary-color);
    font-size: 22px;
    font-weight: bold;
    box-shadow: -8px -8px 15px rgba(103, 95, 95, 0.421);
    cursor: pointer;
}

.equalBtn{
    background-color: #3d8122;
    color: aliceblue;
}

.operator{
    color:#199610;
}

p{
    position: absolute;
    text-align: center;
    bottom: 10px;
    color: var(--pcolor);
}

#icon{
    width:30px ;
    cursor: pointer;
    position:absolute;
    top:20px;
    right:10px;
}
